@page "/newGameAndGamersPage"
@rendermode InteractiveServer
@using System.Linq.Expressions
@using ComputerService.Database
@using ComputerService.Models

@inject GamerContext ef

    <EditForm Model="_game" OnValidSubmit="@SumbitGame">
        <h1>Создание новой игры</h1>
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <a>Название для игры?</a>
        <input type="text" @bind="_game.NameGame"/>
        <a>Стоимость?</a>
        <input type="number" @bind="_game.Price"/>
        <button type="submit">Добавить игру </button>
    </EditForm>
    <!-- поля ввода для игры-->
    <EditForm Model="_gamer" OnValidSubmit="@SumbitGamer">
        <h1>Создание нового игрока</h1>
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <a>Ваше имя</a>
        <input type="text" @bind="_gamer.FirstName"/>
        <a>Фамилия</a>
        <input type="text" @bind="_gamer.MiddleName"/>
        <a>Отчество</a>
        <input type="text" @bind="_gamer.LastName"/>
        <button type="submit">Добавить Игрока </button>
    </EditForm>
    <!-- поля ввода для игрока-->
 
   

@code {
    Game _game = new Game();
    Gamer _gamer = new Gamer();
    
    public void SumbitGamer()
    {
        ef.Add(_gamer);
        ef.SaveChanges();
        _gamer = new Gamer();
    }
    public void SumbitGame()
    {
        ef.Add(_game);
        ef.SaveChanges();
        _game = new Game();
    }
    
    
}